@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: #fff;
    letter-spacing: 0.25rem;
    text-shadow: #000 1px 0 10px;
    margin-bottom: 16px;
}

h2 {
    color: #fff;
    font-weight: normal;
    text-shadow: #000 1px 0 10px;
    margin-bottom: 32px;
}

.background-gen {
    /* background-color: red; */
    width: 100%;
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.color-added {
    /* background-color: yellow; */
    width: 80%;
    display: flex;
    column-gap: 32px;
    justify-content: center;
    align-items: center;
}

#colors {
    width: 100%;
    /* background: blue; */
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    align-content: space-between;
    justify-content: space-evenly;
}

.color-selection {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-percent {
    width: 75%;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]{
    width: 75%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    
}

.fa-percent{
    font-size: 1rem;
}

.color-front {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid #000;
    margin-bottom: 16px;
}

#color-front1{
    background-color: #00ff00;
    box-shadow: 1px 0 10px #555;
}

#color-front2 {
    background-color: #ff0000;
    box-shadow: 1px 0 10px #555;
}

input[type="color"]{
    display: none;
}

#add-color {
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;;
    box-shadow: 1px 0 10px #555;
    border: 2px solid #000;
}